{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
	{% for item in listing %}

		<!-- Active item -->
		{% if item.status %}
		<div class='container-fluid'>
			<img src="{{ item.image_url }}">
			<a href="{% url 'listing' item.id %}" ><h4>{{ item.title }}</h4></a>
			<p class="created_by">Created by {{ item.user.username }}</p>
			<h5><span style="font-weight: bold;">Price: </span>${{ item.start_bid }}</h5>
			<p>{{ item.description }}</p>
		</div>

		<!-- Close item -->
		{% else %}
		<div class='container-fluid'>
			<img src="{{ item.image_url }}">
			<h4>{{ item.title }}</h4>
			<p class="created_by">Created by {{ item.user.username }}</p>
			<h5><span style="font-weight: bold;">Price: </span>${{ item.start_bid }}</h5>
			<p>{{ item.description }}</p> 
			<h3>Bid close</h3>
			<h3>The winner is '{{ winner }}'</h3>
		</div>
		{% endif %}	
	{% endfor %}
{% endblock %}